
  <div class="comment clearfix">
    <div class="comment_content">
      <p class="comment_body"><b><%= comment.user_name %></b></p>
      <p class="comment_body"><%= comment.body %></p>
      <p class="comment_time">
        <font size="2" color="blue"><%= time_ago_in_words(comment.created_at) %> Ago </font> </p>
    </div>
  <span style="display: inline;">
        <%= link_to 'Hard Delete', [comment.post, comment],
                       method: :delete,
                       class: "button",:remote => true,
                       data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_post_comment_path(comment.post, comment), remote: true %>
    <%= link_to 'Soft Delete',post_comment_soft_destroy_path(post_id: comment.post, id: comment.id), :remote => true, method: :post %>
    </span>
  </div>

