<%= form_for([post,comment], remote: true) do |f| %>
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name , required: true %><br>
    <br>
    <%= f.label :body %><br>
    <%= f.text_area :body, required: true%><br>
    <br>

    <%= f.submit "#{comment.new_record? ? 'Submit' : 'Update'}", class: "btn btn-lg btn-primary", style: "padding: 4px 6px;
        font-size: 12px;" %>
<% end %>