$('#comments').append("<div id='comment_<%= @comment.id %>' > <%=j render :partial => 'comments/comment', :locals => {:comment => @comment }%> </div>");
$('#comment_count').empty().html("<%=j render partial: 'posts/post_comment_count', locals: {post: @post} %>");
$('.comment-form').empty().html("<%=j render partial: 'comments/form', locals: {post: @post, comment: @post.comments.build }%>");
