<div id="comment_<%= comment.id %>" style="background-color: whitesmoke; padding: 2%;" >
  <div class="comment_content">
    <p class="comment_body"><b><%= comment.user_name %></b></p>
    <p class="comment_body"><%= comment.body %></p>
  </div>
  <%= link_to 'Restore',restore_path(post_id: comment.post, id: comment.id), :remote => true, method: :post %>
  <hr>
</div>

