<div id="link_<%= post.id%>" >
      <div class="link row clearfix" style="background-color: white">
        <h2 style="margin: 0px;">
          <div class="title-link"> <%= post.title %></div><br>
        </h2>
        <div class="btn-group">
          <%= link_to 'Restore',restore_path(post_id: post.id), :remote => true, method: :post , class: "btn btn-primary"%>
        </div>
      </div>
      <hr>
  </div>
