<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h1> Deleted Posts </h1>
      <% @posts.each do |post| %>
          <%= render partial: 'soft_deleted_posts', :locals => {:post => post}%>
      <% end %>
    </div>
    <div class="col-md-4">
        <h1> Deleted Comments </h1>
      <% @map_comments_according_to_post.each do |key,value| %>
          <% value.each do |comment| %>
              <%= render partial: 'soft_deleted_comments', locals: {comment: comment} %>
          <% end %>
      <% end %>
    </div>
  </div>
  </div>


  <style>
    hr {
      border: 0;
      border-top: 2px solid #eee;
      margin: 20px 0;
    }
  </style>


<% if false%>



<% end %>