<div class="form-body">
  <%= form_for(@post, remote: true) do |f| %>
      <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this link from being saved:</h2>

            <ul>
              <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control", required: true%>
      </div>
      <div class="form-group">
        <%= f.label :describe_post %><br>
        <%= f.text_area :body, class: "form-control", required: true %>
      </div>
      <br>
      <div class="form-group">
        <%= f.submit "#{@post.new_record? ? 'Submit' : 'Update'}", class: "btn btn-lg btn-primary" %>
      </div>

  <% end %>
</div>
