
  <div class="link row clearfix" style="background-color: #f5f5f5;">
    <h3 style="margin: 0px;">
      <div class="title-link"> <%= post.title %></div><br>
    </h3>
    <div class="btn-group">
      <%= link_to edit_post_path(id: post.id), :remote => true, :class => "btn btn-primary" do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Edit
      <% end %>
      <%= link_to 'Hard Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_post btn btn-danger' %>
      <%= link_to 'View',post_path(post), :remote => true, :class => "btn btn-success" %>
      <%= link_to 'Soft Delete',soft_destroy_path(id: post.id), :remote => true, method: :post, :class => "btn btn-default" %>
    </div>
  </div>
<hr>
