$('#render_form_data').empty().html("<%=j render :template => 'posts/show.html.erb' %>");
$('#render_form_data').append("<p style='cole: green'> Succesfully created post </p>");
$('#post_container').append("<div id='link_<%= @post.id%>'> <%=j render :partial => 'posts/posts_box', :locals => {:post => @post}%> </div>");








