<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="add-btn">
        <%= link_to new_post_path, :remote => true, :class => "btn btn-primary" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>  Add Post
        <% end %>
      </div>

      <div id="post_container">
        <% @posts.each do |post| %>
            <div id="link_<%= post.id%>" >
              <%= render :partial => 'posts/posts_box', :locals => {:post => post}%>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div id="form_data_div" style="display:none; width: auto;">
        <button type="button" class="close">&times;</button>
        <h4 class="modal-title"> Post </h4>
        <div class="mem-form" id="render_form_data">
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #form_data_div {
    width: auto;
    display: block;
    background: #bdb7c3;
    height: auto;
    overflow: auto;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 6%;
  }
  .add-btn{
    margin-bottom: 4%;
  }
  a:visited {
    color: white;
  }
</style>

<script>
  $('.close').click(function(){
    $('#form_data_div').hide();
  });

</script>