<div id="post_content">
  <h1 class="title"><%= @post.title %></h1>
  <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago
        | <%= link_to edit_post_path(id: @post.id), :remote => true, :class => "btn btn-primary" do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Edit
    <% end %>
    <%= link_to 'Hard Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_post btn btn-danger' %>
    <%= link_to 'Soft Delete',soft_destroy_path(id: @post.id), :remote => true, method: :post, :class => "btn btn-default" %>

  </p>
  <p class="body"><%= @post.body %></p>


  <div id="comments">
    <div id="comment_count">
      <%= render partial: 'posts/post_comment_count', locals: {post: @post} %>
    </div>
    <% @post.comments.not_soft_destroyed.each do |comment| %>
        <div id="comment_<%= comment.id %>" >
          <%= render partial: 'comments/comment', locals: {comment: comment} %>
        </div>
        <% end %>
    </div>

    <h4>Add a comment:</h4>
  <div class="comment-form">
    <%= render partial: 'comments/form', locals: {post: @post, comment: @post.comments.build } %>
    </div>
  </div>
</div>
