$('#render_form_data').empty().html("<%=j render :template => 'posts/show.html.erb' %>");
$('#render_form_data').append("<p style='color: green'> Succesfully Updated post </p>");
$("#link_<%= @post.id%>").empty().html("<%=j render :partial => 'posts/posts_box', :locals => {:post => @post }%>");
