<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #e6e6e6">
<header class="navbar navbar-default" role="navigation" style="background-color: #6747b1; color: white">
  <div class="navbar-inner">
    <div class="container">

      <div class="navbar-brand"><%= link_to "Blog", root_path, style: "color: #c0dbe0" %></div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <!--user login-->
        <div class="dropdown" style="float: right;margin-top: 15px;">
          <span>Switch link</span>
          <div class="dropdown-content">
            <ul>
              <li><%= link_to 'Post', root_path %></li>
              <li><%= link_to 'Trash', trash_path %></li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>
</header>

<!--flash message-->
<div id="main_content">
  <span style="color: red; font-family: Sans-Serif;padding: 2%;margin-left: 166px;"> Note: Authorization and authentication service layer has not been plugged.</span>

  <%= render partial: 'layouts/flash_messages' %>

  <div id="content" class="col-md-9 center-block">
    <%= yield %>
  </div>
</div>
</div>
</body>
</html>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b2a1da;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    text-decoration: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

</style>
